{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.native_language.label(class="form-control-label")}}
                {% if form.native_language.errors %}
                {{ form.native_language(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.native_language.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.native_language(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.german_level.label(class="form-control-label")}}
                {% if form.german_level.errors %}
                {{ form.german_level(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.german_level.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.german_level(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.english_level.label(class="form-control-label")}}
                {% if form.english_level.errors %}
                {{ form.english_level(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.english_level.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.english_level(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div>
                {{ form.accepted_agreement.label(class="form-control-label")}}<span>
                    <a href="{{url_for('static', filename='consent_en.txt')}}" target="_blank">English</a> 
                    <a href="{{url_for('static', filename='consent_de.txt')}}" target="_blank">German</a></span>
                {% if form.accepted_agreement.errors %}
                {{ form.accepted_agreement(class="is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.accepted_agreement.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.accepted_agreement()}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock content %}